// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
 @font-face { 
    font-family: Ostrich Sans; 
    src: url('../fonts/OstrichSans-Medium.otf'); 
 } 


h1, h2, h3, h4, h5 {
    font-family: 'Ostrich Sans', sans-serif;
    color:  $dark-blue;
    font-weight: 800;
}

h2 {
    line-height: 1;
    font-size:  5vw;
    margin:  0 auto;
}

h3 {
    line-height: 1;
    font-size:  4vw;
    margin:  100px auto 0 auto;
}

p, li {
    font-size: 2rem;
}

p {
    margin-top: 2rem;
     line-height: 1.2;
}

li {
    line-height: 1.1;
    margin-bottom: 15px;
}

a {
    color:  $dark-blue;
    background-color: $light-blue;
    padding: 0 3px;
    transition: all .5s ease;
}

a:hover {
/*    text-decoration-color:  $dark-green;
*/    background-color: $bright-green;
}

body {
    margin: 0;
    padding: 0;
}

#wrapper-navbar {
     position: fixed;
     width: 100%;
}

nav {
    background-color: #fff;
    width: 100%;
    margin: 0;   
    z-index: 100;
    box-shadow: 2px 2px 1px $dark-green ;
    height: 50px;
    position: absolute;
    top: 0;
}

.menu-links {
    padding:  10px 20px;
    display: flex;
    flex-flow: row wrap;  
    justify-content: right;
}

.menu-links  a {
    color:  #fff;
    background-color: $dark-blue;
    margin:  0 10px;
    padding:  4px 10px;
    text-decoration: none;
    border-radius: 50px;
}

.container {
    display: flex;  
    flex-flow: row wrap;  
    justify-content: space-between;
    margin-bottom:  150px;
}

.title-block {
    margin:  10vh 20px 20px 20px;
/*    border:  20px solid $dark-green;
   border-style: inset;*/ 
     box-shadow: 1px 1px 0px $dark-green,
                2px 2px 0px $dark-green,
                3px 3px 0px $dark-green,
                4px 4px 0px $dark-green,
                5px 5px 0px $dark-green,
                6px 6px 0px $dark-green,
                7px 7px 0px $dark-green,
                8px 8px 0px $dark-green,
                9px 9px 0px $dark-green,
                10px 10px 0px $dark-green,
                11px 11px 0px $dark-green;

    padding:  20px;
    width:  30vw;
    position: fixed;
}

.dlinq-title{
    line-height: 1;
    font-size:  3.5vw;
    margin:  0 auto;
    text-align: center;
}

.fellows-title {
    display: block;
    font-size: 9vw;
    font-weight: 800;
}

.dig-title {
    display: block;
    font-size: 12vw;
    line-height: .8;
    font-weight: 800;
}

.main-body {
    width: 50vw;
    padding:  30px 60px 0 30px;
    margin-left: 40vw;
}

.emphasize {
    background-color: $light-blue;
    padding:  3px;
}

.apply-btn {
    display: block;
    margin:  50px auto 100px auto;
    width:  300px;
    background-color: $dark-blue;
    color:  #fff;
    font-size:  2.5rem;
    text-align: center;
    padding:  15px 10px 10px 10px;
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Ostrich Sans', sans-serif;
    transition: all .4s ease;
   /* background-image: url(../imgs/form.svg);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: 250px center;*/
}

.apply-btn:hover {
    background-color: $dark-green;
}

#intro {
    margin-top:  50px;
}

#projects {
    background-color: #efefef;
    padding:  10px 50px 50px 50px;
    transition: all .8s ease;   
}


#details {
    margin-top:  100px;
}

#projects.highlight {
    box-shadow: 1px 1px 0px $dark-green,
                2px 2px 0px $dark-green,
                3px 3px 0px $dark-green,
                4px 4px 0px $dark-green,
                5px 5px 0px $dark-green,
                6px 6px 0px $dark-green,
                7px 7px 0px $dark-green,
                8px 8px 0px $dark-green,
                9px 9px 0px $dark-green,
                10px 10px 0px $dark-green,
                11px 11px 0px $dark-green;

}

.events {
    display: flex;
    flex-flow: row wrap;  
    justify-content: space-between;
    font-size: 1.3rem;
    margin-bottom: 100px;
}

.event-block {
    width:  90%;
    display: flex;
    flex-flow: row wrap;  
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
    border-bottom: 1px solid $dark-green;
    transition: all .5s ease;
}

.event-block:hover {
    background-color: $light-blue;
}

.date, .date-detail {
    width: 40%;    
}

.alert {
    border: 1px solid $dark-green;
    padding: 15px;
    font-size:  1.5rem;
    border-radius: 12px;
}


[data-aos="border-left"] {
  border-left: 0;
  transition-property: all;
}

[data-aos="border-left"].aos-animate {
  border-left: 10px solid $light-blue;
  padding-left: 20px;
}

[data-aos="sticky"] {
  transition-property: all;
}

[data-aos="sticky"].aos-animate {
  position: absolute;
  top:  0;
  right: 0;
}

.entry-title {
	display: none;
}

#gform_wrapper_1{
    border: 1px solid $dark-green;
    padding: 20px;
    border-radius: 10px;
    margin: 90px auto;
    box-shadow: 1px 1px 0px $dark-green,
                2px 2px 0px $dark-green,
                3px 3px 0px $dark-green,
                4px 4px 0px $dark-green,
                5px 5px 0px $dark-green,
                6px 6px 0px $dark-green,
                7px 7px 0px $dark-green,
                8px 8px 0px $dark-green,
                9px 9px 0px $dark-green,
                10px 10px 0px $dark-green,
                11px 11px 0px $dark-green;
}

#gform_submit_button_1, #gform_save_1_footer_link {
	border: none;
	color: #fff;
    background-color: #0d395f;
    margin: 0 10px;
    padding: 4px 10px;
    text-decoration: none;
    border-radius: 50px;
}

.gform_body {
	margin-top: 80px;
}

.gform_wrapper.gravity-theme .gfield_label {
	font-size: 1.4rem;
	margin-top: 25px
}



@media (max-width: 768px) { 
    .menu-links { 
        justify-content: space-around;
    }

    .title-block {
        width: 65vw;
        position: relative;
        margin:  20px auto;
        z-index: -1;
    }

    .dlinq-title{
        font-size:  8vw;
    }

    .fellows-title {
        font-size: 22vw;
    }

    .dig-title {
        font-size: 28vw;
    }

    h2 {
        font-size:  15vw;
    }

    h3 {
        font-size: 11vw;
    }

    .main-body {
        width: 90vw;
        padding:  30px 0;
        margin-left: 5vw;
    }

    p, li {
        font-size: 1.5rem;
    }

    #projects {
        padding: 10px 20px 50px 20px;
    }

    #projects::before {
        display: none;
    }
}
